# Игнорирование базы данных SQLite
*.db

# Игнорирование виртуального окружения
venv/
.env/

# Игнорирование кэша Python
__pycache__/
*.py[cod]

# Игнорирование кэша других инструментов
.cache/
*.log

.idea/
